:root {
    --primary: #343E49 !important;
    --secondary: #AAD500 !important;
    --tertiary: #ff6201 !important;
    --quaternary: #495867 !important;
    --fab-enfasis: #f00f44 !important;
    --fab-verde-1: #668F00 !important;
    --fab-verde-2: #004527 !important;
    --fab-verde-3: #35783C !important;
    --fab-gradient: linear-gradient(90deg, #668F00 0%, #8FCA00 100%);
    --fab-gradient2: linear-gradient(90deg, rgba(102,143,0,1) 0%, rgba(53,120,60,1) 100%);
    --fabtxt: #343E49;
    --fabtxt2: #FAFAFA;
    --fab-bg: #FAFAFA;
    --header-logo-background: transparent;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
