html {
    /* direction: ltr; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../img/bg/bg-verde.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Mont", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
}

body a {
    outline: none !important;
}


.banner-superior {
    background-color: #fff;
    max-height: 200px;
    height: 200px;
    margin-top: 64px;
}

.barra-colores {
    background: url(../img/elementos/franja.png);
    height: 30px;
}

.img-cover {
    object-fit: scale-down;
    object-position: center;
    height: 100%;
    width: auto;
}

/* Selection */
::-moz-selection {
    color: var(--primary-inverse);
    background: var(--primary);
}

::selection {
    color: var(--primary-inverse);
    background: var(--primary);
}




.custom-font-size-1 {
    font-size: 50px;
}

@media (min-width: 992px) {
    .custom-font-size-1 {
        font-size: 70px;
    }
}

.btn-outline {
    border-width: 1px;
}

@media (min-width: 992px) {
    #header .header-nav-main nav>ul>li>a {
        font-size: 14px;
    }
}




#footer-falabella {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    /* or your background color */
    color: var(--primary);
    opacity: 0.8;
}

#footer-falabella img {
    height: 30px;
    width: 100%;
}


.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110vw;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0.06;
    /* animation: float 30s ease-in-out infinite; */
    z-index: -100;
}

.girnalda-1 {
    position: absolute;
    width: 40px;
    top: 295px;
    left: 12%;
    height: auto;
    transform-origin: top center;
    /* animation: swing 3s ease-in-out infinite; */
    z-index: 1000;
}
.campana-1 {
    position: absolute;
    width: 60px;
    top: 295px;
    left: 7%;
    height: auto;
    transform-origin: top center;
    /* animation: swing 4s ease-in-out infinite; */
    z-index: 1000;
}


.campana-2 {
    position: absolute;
    top: 295px;
    width: 60px;
    right: 8%;
    height: auto;
    transform-origin: top center;
    /* animation: swing 4.5s ease-in-out infinite; */
    z-index: 1000;
}
.girnalda-3 {
    position: absolute;
    top: 295px;
    width: 40px;
    right: 5%;
    height: auto;
    transform-origin: top center;
    /* animation: swing 3.5s ease-in-out infinite; */
    z-index: 1000;
}

@keyframes swing {
    0% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

/* Animación para mover el logo horizontalmente */
@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateX(-5%);
    }

    50% {
        transform: translateY(-50%, -50%) translateX(5%);
    }

    100% {
        transform: translateY(-50%, 50%) translateX(5%);
    }
}




.btn-primary.disabled:not(.bg-transparent),
.btn-primary:disabled:not(.bg-transparent) {
    background-color: var(--fab-verde-3);
}

.btn-primary.disabled,
.btn-primary:disabled {
    border-color: var(--fab-verde-3);
}
.titulo-ganador{
    color: var(--secondary);
    font-size: 8.5em;
    font-weight: bold;
    text-align: center !important;
}
.titulo-sorry{
    color: var(--secondary);
    font-size: 6.5em;
    font-weight: bold;
    text-align: center !important;
}
.btn-falabella {
    color: var(--fab-verde-3);
    background: var(--secondary);
    border: none;
    transition: all ease 0.1s;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-falabella:hover {
    color: #fff;
    background: var(--fab-verde-3);
    border: none;
}

.btn-falabella-2 {
    color: #fff;
    background: var(--fabtxt);
    border: none;
    transition: all ease 0.1s;
    border-radius: 10px;
    padding: 5px 15px;
}

.btn-falabella-2:hover {
    color: var(--fab-verde-2);
    background: var(--secondary);
    border: none;
    font-weight: bold;
}

.btn-falabella-start {
    color: #fff;
    background: var(--fabtxt);
    border: none;
    transition: all ease 0.1s;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-falabella-start:hover {
    color: var(--fab-verde-2);
    background: var(--secondary);
    border: none;
    font-weight: bold;
}

.btn-falabella-mid {
    color: #fff;
    background: var(--fabtxt);
    border: none;
    transition: all ease 0.1s;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-falabella-mid:hover {
    color: var(--fab-verde-2);
    background: var(--secondary);
    border: none;
    font-weight: bold;
}

.btn-falabella-end {
    color: #fff;
    background: var(--fabtxt);
    border: none;
    transition: all ease 0.1s;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-falabella-end:hover {
    color: var(--fab-verde-2);
    background: var(--secondary);
    border: none;
    font-weight: bold;
}

.btn-secondary {
    --hover: var(--secondary--200) !important;
    background-color: var(--secondary) !important;
    border: none !important;
    color: var(--secondary-inverse);
}

.btn-secondary:hover:not(.bg-transparent),
.btn-secondary.hover:not(.bg-transparent) {
    background-color: var(--fab-verde-2) !important;
    border: none;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: var(--fab-verde-1) !important;
    color: #fff;
    font-size: 1em;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #6e7881 !important;
    color: #fff;
    font-size: 1em;
}

#patrocinadores {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
}

.fab-text-light {
    color: var(--fabtxt2)
}

.fab-text-dark {
    color: var(--fabtxt)
}

.fab-text-enfasis {
    color: var(--secondary);
    font-weight: bold;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 64px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu-logo {
    height: 50px;
    margin: 7px 0;


}
.menu-logo >a {
    font-size: 30px !important;
}
.btn-menu-fb{
    color: var(--fab-verde-2);
    background-color: #fff;
    transition: ease 0.5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 8px 16px;
}

.btn-menu-fb .home-icon {
    width: 24px;
    height: 24px;
}

.btn-menu-fb .home-text {

    line-height: 1;
}

.btn-menu-fb:hover{
    color: #fff;
    background-color: var(--secondary)!important;

}

/* Mobile Portrait */
@media only screen and (max-width: 576px) {
    #contenedor-fb {
      margin-top: 35% !important;
      margin-bottom: 35% !important;
    }
    .girnalda-1 {
        width: 40px;
        top: 295px;
        left: 20%;
    }
    .girnalda-3 {
        top: 295px;
        width: 40px;
        right: 25% !important;
    }
    .campana-1 {
        width: 60px;
        top: 295px;
        left: 7%;
    }
    .campana-1 {
        width: 60px;
        top: 295px;
        right: 7%;
    }

    .titulo-ganador{
        font-size: 4em !important;
        margin-top: 10px;
    }
    .titulo-sorry{
        font-size: 4em;
    }
.tarjetas{
    width:300px !important;
}
}

/* Mobile Landscape */
@media only screen and (min-width: 577px) and (max-width: 932px) and (orientation: landscape) {
    .titulo-ganador{
        font-size: 5em !important;
        margin-top: 10px;
    }
    #contenedor-fb {
      margin-top: 10% !important;
      margin-bottom: 10% !important;
    }

  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #contenedor-fb {
      margin-top: 20% !important;
      margin-bottom: 20% !important;
    }
    .titulo-sorry{
        font-size: 4.5em !important;
        margin-top: 10px;
    }
    .text-sorry{
        font-size: 2em !important;

    }
    .tarjetas{
        width:300px !important;
    }
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1366px) and (orientation: landscape) {
    #contenedor-fb {
      margin-top: 10% !important;
      margin-bottom: 10% !important;
    }
  }
  @media only screen and (min-width: 1336px) and (max-width: 1920px) and (orientation: landscape) {
    #contenedor-fb {
      margin-top: 10% !important;
      margin-bottom: 10% !important;
    }
  }
