
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para evitar scroll indeseado */
    background: radial-gradient(circle, rgba(53,120,60,1) 0%, rgba(0,69,39,1) 70%) !important;
    position: relative; /* Necesario para posicionar el logo como hijo absoluto */

}

.body{
    background: transparent;
}
.logo {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 0;
    width: 100%;
    max-width: 1920px;
    height: auto;
    transform: translateY(-100%); /* Ajustar el logo para que esté perfectamente centrado verticalmente */
    opacity: 0.06; /* Hacer que el logo sea un poco transparente */
    animation: float 20s linear infinite; /* Animación suave en bucle */
}

/* Animación para mover el logo horizontalmente */
@keyframes float {
    0% {
        transform: translateY(-50%) translateX(-10%);
    }
    50% {
        transform: translateY(-50%) translateX(10%);
    }
    100% {
        transform: translateY(-50%) translateX(-10%);
    }
}


.owl-carousel.nav-dark.nav-style-1 .owl-nav .owl-next, .owl-carousel.nav-dark.nav-style-1 .owl-nav .owl-prev {
    color: #ffffff !important;
}

.owl-carousel.stage-margin .owl-stage-outer {
    margin-left: 31px !important;
    margin-right: 39px !important;
}
.custom-carousel-1 .owl-carousel {
    padding: 11px 0 0 3px;
}
.owl-stage-outer{
    border-radius: 30px !important;
}

.btn-primary.disabled:not(.bg-transparent), .btn-primary:disabled:not(.bg-transparent) {
    background-color: var(--fab-verde-3);
}
.btn-primary.disabled, .btn-primary:disabled {
    border-color: var(--fab-verde-3);
}

.btn-falabella{
    color: var(--fab-verde-3);
    background: var(--secondary);
    border:none;
    transition: all ease 0.1s;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
}
.btn-falabella:hover{
    color: #fff;
    background: var(--fab-verde-3);
    border:none;
}
.btn-falabella-2{
    color: #fff;
    background: var(--fabtxt);
    border:none;
    transition: all ease 0.1s;
    border-radius: 10px;
    padding: 5px 15px;
}
.btn-falabella-2:hover{
    color: var(--fab-verde-2);
    background: var(--secondary);
    border:none;
    font-weight: bold;
}
.btn-falabella-start{
    color: #fff;
    background: var(--fabtxt);
    border:none;
    transition: all ease 0.1s;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    padding: 5px 15px;
    font-weight: bold;
}
.btn-falabella-start:hover{
    color: var(--fab-verde-2);
    background: var(--secondary);
    border:none;
    font-weight: bold;
}
.btn-falabella-mid{
    color: #fff;
    background: var(--fabtxt);
    border:none;
    transition: all ease 0.1s;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 5px 15px;
    font-weight: bold;
}
.btn-falabella-mid:hover{
    color: var(--fab-verde-2);
    background: var(--secondary);
    border:none;
    font-weight: bold;
}
.btn-falabella-end{
    color: #fff;
    background: var(--fabtxt);
    border:none;
    transition: all ease 0.1s;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    padding: 5px 15px;
    font-weight: bold;
}
.btn-falabella-end:hover{
    color: var(--fab-verde-2);
    background: var(--secondary);
    border:none;
    font-weight: bold;
}

.btn-secondary {
    --hover: var(--secondary--200) !important;
    background-color: var(--secondary) !important;
    border:none !important;
    color: var(--secondary-inverse);
}
.btn-secondary:hover:not(.bg-transparent), .btn-secondary.hover:not(.bg-transparent) {
    background-color: var(--fab-verde-2) !important;
    border: none;
}
